<div id="footer">
    <ul>
      <li>&copy;2010 <a href="#">Name Here</a></li>
      <li>|</li>
      <li><a href="#">FAQ</a></li>
      <li>|</li>
      <li><a href="#">Privacy Policy</a></li>
      <li>|</li>
      <li><a href="#">Careers</a></li>
      <li>|</li>
      <li><a href="#">Advertise</a></li>
      <li>|</li>
      <li><a href="#">Sitemap</a></li>
      <li>|</li>
      <li>Designed by Selva Ganesh</li>
    </ul>
  </div>
</body>

</html>
