

  <!-- <div id="header">
    
  </div> -->
  <div id="logo"> <h1>Journal</h1> </div>

  
  <div id="nav">
    
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/article/entertainment" name="category" value="entertainment">Entertainment</a></li>
      <li><a href="/article/technology" name="category" value="Technology" >technology</a></li>
      <li><a href="/article/sports" name="category " value="sports">Sports</a></li>
      <li><a href="/article/politics" name="category" value="politics">Politics</a></li>
      
    </ul>
  </div>
 
